[submodule "detools"]
	path = vendor/detools
	url = https://github.com/eerimoq/detools.git
[submodule "motatool"]
	path = motatool
	url = https://github.com/vk496/motatool.git
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/MeshEnvy/Adafruit_nRF52_Bootloader_OTAFIX.git
[submodule "envycore"]
	path = envycore
	url = https://github.com/MeshEnvy/meshcore-firmware.git
[submodule "app"]
	path = app
	url = https://github.com/zjs81/meshcore-open
[submodule "wadamesh"]
	path = wadamesh
	url = https://github.com/ALLFATHER-BV/wadamesh
