[submodule "detools"]
	path = vendor/detools
	url = https://github.com/eerimoq/detools.git
[submodule "motatool"]
	path = vendor/motatool
	url = https://github.com/vk496/motatool.git
[submodule "otafix"]
	path = vendor/otafix
	url = https://github.com/MeshEnvy/Adafruit_nRF52_Bootloader_OTAFIX.git
[submodule "envyos"]
	path = envyos
	url = https://github.com/MeshEnvy/meshcore-firmware.git
